
// default colors
$color-primary: #0067af;
$color-secundary: #ff851b;
$color-blue-dark: #192b46;

// neutral colors
$color-white: #FFFFFF;
$color-grey-light: rgba(0,0,0,.87);

// text colors
$color-text-base: #626973;
$color-text-title: #192b46;

// font
$font-family-avenir: 'Avenir', Helvetica, Arial, sans-serif;

// breakpoint screen
$screen-device-mobile: 576px;
$screen-device-tablet: 768px;
$screen-device-desktop: 992px;
$screen-device-desktop-large: 1200px;